{% load static %}
<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>{% block title %}{% endblock %}</title>
	  <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
	</head>
	<body>
	  <header>
	    {% if user.is_authenticated %}
	      Belépve: {{ user.username }}
	      <br>
	      <a href="{% url 'logout' %}"><font color="white">Kilépés</font></a>
	    {% else %}
	     	A program használatához jelentkezzen be!
	    {% endif %}
	  </header>
	  <section>
	    <section class="left">
	     <img src="{% static 'images/energetika.png' %}" width="150px" alt="logo" />
			{% if user.is_authenticated %}
				<section class="menu">
					<hr>
					<a href="{% url 'home' %}">Kezdőlap</a>
					<hr>
					<a href="{% url 'megrendelesek' %}">Megrendelések</a>
				</section>
			{% endif %}
		</section>
		<section class="right">
			{% block content %}
	    	{% endblock %}
	    </section>
	  </section>
	</body>
</html>